/*MEDIA QUERIES*/

@media (min-width: 768px) {
  .me-2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .me {
    display: none;
  }
  .featured-work, .featured-contact, .featured-about {
    margin-bottom: 4em;
  }
  .featured-contact {
    margin-top: 3em !important;
  }
  .text, .image {
    width: 100%;
  }
  .image {
    display: none;
  }
  .thumbnail-image {
    width: 70%;
  }
  .project-card {
    width: 70%;
    margin: -3.4em auto 0 auto !important;
  }
  .l, .r {
    text-align: center;
  }
  .projects-2018, .projects-2017 {
    padding: 2px 4px 0 4px;
  }
  .my-story {
    width: 450px;
    margin: 0 auto;
    font-size: .825em;
  }
  .my-story h1 {
    font-size: 2em;
    text-align: center;
    margin: 1.2em 0 .3em 0;
    padding: 0;
    display: block !important;
  }
  .story-container {
    margin: 1.5em auto 0 auto;
    width: 100%;
    height: 100%;
  }
  .line {
    display: block;
    margin: 0 auto .85em auto;
  }
  .me-2 {
    width: 35%;
    border-radius: 50%;
    margin: 0 auto 1.75em auto;
    display: block !important;
  }
  .github-stats {
    font-size: 1.5em;
    color: #000;
    margin: .65em 0 .4em 0;
    border-right: none;
    display: block;
  }
  .live-feed {
    margin-top: .65em;
  }
  .repoData, .contribution, .addition {
    margin-right: .3em;
    font-size: 1em;
  }
  .repos {
    margin-left: 0;
  }
  .addition {
    margin-right: 0;
  }
  .cont-lastyear, .add-lastyear {
    font-size: .7em;
    margin-left: 0;
  }
  header {
    width: 77%;
  }
  .icons-container {
    text-align: left;
    margin: 0 auto 0 0;
    padding-bottom: .7em;
    display: block;
  }
  .icons {
    text-align: right;
  }
  .social-print {
    text-align: left;
    float: right;
    padding-top: .45em;
    margin: 0 auto 0 0;
    width: 188px;
  }
  .social-print p, .contact-location {
    font-size: 75%;
    margin-left: .25em;
    margin-bottom: 1px;
  }
  .contact-melbourne {
    font-size: 75% !important;
  }
  .social-print span {
    margin-top: 1em;
  }
  .email-section {
    margin-top: 3em;
  }
  .email-me {
    text-align: center !important;
    margin: 1.65em auto 0 auto;
  }
  .top-half {
    width: 442px;
    margin: 0 auto 3em auto;
    display: block;
    text-align: center;
  }
  .mobile-form-title-container {
    text-align: left;
    display: inline-block;
    width: 175px;
    vertical-align:top;
    float: left;
    border-left: 4px solid rgb(252, 110, 58);
    padding-left: .5em;
  }
  .mobile-form-title-container h2 {
    color: rgb(252, 110, 58);
    font-family: 'Roboto', helvetica;
    margin-top: 0;
    font-size: 1.85em;
    font-weight: 600;
    padding: .2em 0 .35em 0;
  }
  .mobile-form-title-container p {
    font-family: 'Roboto', helvetica;
    font-size: .88em;
    padding-left: .4em;
    margin-bottom: 0;
    padding-bottom: .25em;
    width: 165px;
    color: rgba(0, 0, 0, .7);
  }
  .icon-print {
    display: inline-block;
    text-align: left;
    float: right;
  }
  .form-title-container {
    display: none;
  }
  .mobile a, .email a, .github a, .linkedin a {
    padding: .4em .3em .25em .3em;
    margin: 0;
  }
  .arlo-img {
    width: 400px;
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .hamburger-container, .mobile-nav {
    display: none;
  }
}

@media (max-width: 575px) {
  body {
    position: relative;
  }
  .menu-container {
    display: none;
  }
  header {
    width: 100% !important;
  }
  .featured-work, .featured-contact, .featured-about {
    margin-bottom: 2em;
  }
  .work {
    margin: .65em auto 0 auto;
  }
  .mobile-nav {
    background-color: #111;
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    opacity: .95;
    z-index: 10;
    transition: .5s;
    padding-top: 85px;
    overflow-x: hidden;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.75);
  }
  .overlay {
    height: 100%;
    width: 100%;
    background: rgba(220,220,220,.7);
    position: absolute;
    z-index: 9;
    display: none;
  }
  .mobile-nav a {
    padding: 10px 20px 8px 10px;
    margin: 0 0 6px 0;
    width: 60%;
    display: block;
    color: #999;
    font-size: 1.2em;
    text-align: right;
    font-family: "Actor", helvetica;
  }
  .mobile-nav-active {
    background: #ccc;
    color: #222 !important;
    padding: 14px 15px 12px 10px !important;
    font-weight: 600;
    border-right: 5px solid rgba(252, 110, 58);
  }
  .x {
    color: #ccc;
    font-size: 1.8em;
    display: block;
    transition: .5s;
    position: absolute;
    top: 0;
    right: .6em;
    font-size: 1.8em !important;
    border: none !important;
  }
  .side-nav-linkedin, .side-nav-github {
    display: inline-block;
    margin: 0 2px;
  }
  .side-nav-social {
    text-align: right;
    padding-right: 1.65em;
    margin: 3.5em .45em 0 .45em;
    width: 100%;
  }
  .side-nav-social a {
    width: 33px;
    text-align: center;
    margin: 0 auto !important;
    display: inline-block !important;
    padding: 4px 4px 2px 4px !important;
    font-size: 1.5em;
  }
  .side-nav-github a {
    border-bottom: 4px solid #43325b;
    color: #6e5494;
  }
  .side-nav-linkedin a {
    border-bottom: 4px solid #00476d;
    color: #0077b5;
  }
  .me-2 {
    width: 40%;
    border-radius: 50%;
    display: inline;
    box-shadow: 0 0 1em .1em rgba(0,0,0,.3);
  }
  .thumbnail-image {
    width: 95% !important;
  }
  .project-card, .project-title {
    width: 95% !important;
    margin: -3.4em auto 1em auto !important;
  }
  .description {
    line-height: 1.25em;
  }
  .l, .r {
    margin-bottom: 1em;
  }
  .lang-lib {
    font-size: .90em;
  }
  .project-title {
    font-size: 1em;
  }
  .external a {
    padding: .3em .35em .2em .35em;
  }
  .menu {
    display: none;
  }
  .hamburger-container {
    display: inline-block;
    float: right;
    font-size: 1.6em;
    color: #ddd;
    margin: .35em .5em 0;
  }
  .featured-title {
    margin-bottom: -.5em;
  }
  .about:hover, .contact:hover, .projects:hover, .active {
    transition: .1s;
  }
  .greeting {
    text-align: left;
  }
  .active {
    font-size: .6em;
    padding: .3em;
  }
  .projects {
    margin: 0 1.9em;
  }
  header {
    margin: 0;
    padding: 2px 6px 2px 1px;
    background-color: #222;
    width: 100%;
  }
  .header-spacing {
    margin: 0 auto 0 0;
    display: inline-block;
    padding: .45em .6em 0 .5em;
  }
  .name {
    font-size: 11px;
    font-family: monospace;
    color: #ddd;
    margin: 0;
  }
  .title {
    font-family: monospace;
    font-size: 10px;
    color: #ddd;
    padding: 0;
    margin: .3em 0 0 0 !important;
    font-weight: 600;
  }
  .coder {
    margin-left:5px;
  }
  .story-container {
    margin-top: 1em;
  }
  .my-story {
    width: 88%;
  }
  .my-story p {
    line-height: 1.45em;
    font-size: 1.1em;
  }
  /* .download-cv {
    width: 97px;
    padding: .1em 0 .1em 0;
    margin-bottom: 0;
  } */
  .me {
    width: 100px;
    margin: 1em auto 0 0;
    display: none;
  }
  .line-2 {
    height: 2px;
    width: 10px;
    display: block;
    margin: 0 auto .6em auto;
  }
  .container {
    padding: 0;
  }
  .contribution, .addition {
    margin-right: .4em;
  }
  .contribution {
    margin-right: 0;
  }
  .cont-lastyear {
    font-size: .7em;
    margin-left: 0;
    margin-bottom: .2em !important;
  }
  .add-lastyear {
    margin-bottom: .2em !important;
  }
  .repos {
    margin-bottom: .2em !important;
  }
  .calender {
    margin-top: .6em;
  }
  .email-me {
    width: 95%;
  }
  .top-half {
    width: 95%;
    text-align: center;
  }
  .mobile-form-title-container {
    width: 154px;
  }
  .mobile-form-title-container h2 {
    margin-top: 0;
    font-size: 1.7em;
    font-weight: 600;
    padding: .2em 0 .3em 0;
  }
  .mobile-form-title-container p {
    font-size: .9em;
    margin-bottom: 0;
    width: 100%;
    color: rgba(0, 0, 0, .75);
    padding-left: .25em;
  }
  .icon-print {
    display: inline-block;
    text-align: left;
    margin-bottom: 1.1em;
  }
  .email-section {
    margin-top: 0;
  }
  .via-formspree {
    display: inline-block;
    color: #777;
    font-size: .65em;
    margin: 0 .3em;
  }
  .email-name {
    width: 100%;
    margin: .4em .5em 1.25em 0em;
    padding: .75em .55em .55em .4em;
    font-size: .9em;
    display: block;
  }
  .email-address {
    width: 100%;
    padding: .75em .55em .55em .4em;
    margin-bottom: 1.25em;
    font-size: .9em;
    display: block;
  }
  .email-msg {
    padding: .75em .55em .75em .4em;
    width: 100%;
    height: 130px;
    font-size: .9em;
  }
  .email-submit {
    display: block;
    padding: .8em 0 .6em 0;
    margin-top: .15em;
  }
  .back-to-top {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    transition: .5s ease-in-out;
    font-size: 3em;
    color: #bbb;
  }
  footer {
    padding: .35em .85em .35em 1.25em;
  }
  .cp {
    font-size: .85em;
    display: inline-block;
    padding: .1em 0 0 0;
    margin: .15em;
  }
  .github-footer, .linkedin-footer {
    float: right;
    padding: 0 .55em !important;
    margin: .2em 0 0 0;
    font-size: 1.45em;
  }
  .github-stats {
    margin: .8em 0 .3em 0;
    font-size: 1.3em;
  }

  /* MODAL */
  .content-modal {
    margin: 3.5em auto;
    width: 100%;
  }
  .main-img {
  }
  .modal-thumbnail-images img {
    margin: .35em;
    width: 28%;
  }
  .close-modal {
    top: .16em;
    right: .43em;
  }
  .arlo-img {
    width: 100%;
  }
}

@media (min-width: 389px) and (max-width: 430px) {
  .mobile-form-title-container {
    width: 119px;
  }
  .mobile-form-title-container h2 {
    margin-top: 0;
    font-size: 1.3em;
    font-weight: 600;
  }
  .mobile-form-title-container p {
    font-size: .8em;
    margin-bottom: 0;

    float: left;
    padding-left: 0.3em;
    color: rgba(0, 0, 0, .75);
  }
}

@media (max-width: 389px) {
  .featured-work, .featured-contact, .featured-about {
    flex-grow: 1;
    margin-top: .5%;
  }
  .email-me {
    width: 99%;
    margin-top: 1em;
  }
  .top-half {
    width: 99%;
  }
  .mobile-form-title-container {
    width: 120px;
    padding-left: .2em;
    margin-bottom: 1.5em;
  }
  .mobile-form-title-container h2 {
    font-size: 1.4em;
    padding: .2em 0 .6em .05em;
  }
  .mobile-form-title-container p {
    font-size: .85em;
    margin-bottom: 0;
    padding-left: .3em;
    padding-bottom: .1em;
  }
  .thumbnail-image, .project-card {
    width: 97% !important;
  }
  .me-2 {
    width: 135px;
  }
  .my-story h1 {
    font-size: 2.1em;
  }
  .my-story p {
    line-height: 1.4em;
    font-size: 1.2em !important;
  }
  .my-story {
    width: 97%;
  }
  .project-card, .project-title {
    width: 97% !important;
    margin: -3.4em auto 0 auto;
  }
  footer {
    padding: .45em .45em .45em .75em;
  }
}

@media (max-width: 350px) {
  .email-msg {
    width: 100%;
  }
  .email-name {
    width: 100%;
  }
  .email-address {
    width: 100%;
  }
  .opening-statement {
    font-size: 1.25em;
  }
}


@media (min-width: 390px) and (max-width: 575px) {
  .thumbnail-image, .project-card {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .thumbnail-image, .project-card, .project-title {
    width: 100%;
  }
  .project-card {
    font-size: .95em;
    margin-top: -3.55em;
    line-height: 1em;
  }
  header {
    width: 600px;
  }
  .email-me {
    width: 330px;
  }
  .email-msg {
    width: 100%;
  }
  .email-name {
    width: 138px
  }
  .email-address {
    width: 180px;
  }

}

@media  (min-width: 992px) and (max-width: 1199px) {
    header {
      width: 645px;
    }
  }
