/*GLOBAL STYLES*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.hr-line {
  margin: .5em 0;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

/*HEADER*/

header {
  margin: 0 auto !important;
  display: inline-block;
  width: 800px;
  text-align: left;
}

.header-spacing {
  text-align: left;
  padding: .35em .65em .25em .65em;
  display: inline-block;
  margin: 0 auto 0 0;
}

.name {
  font-size: 12px ;
  font-family: monospace;
  color: #ccc;
  margin: 0;
  font-weight: 600;
}

.title {
  font-family: monospace;
  font-size: 11px;
  color: #ccc;
  padding: 0;
  margin: .3em 0 .1em 0;
  font-weight: 600;
}

.coder {
  background: #ccc;
  color: #292b2c;
  border-radius: 2px;
  padding: 1px 2px 0 2px;
  font-size: .8em;
  display: inline-block;
  margin-left: 5px;
}


/* THANK YOU PAGE */

.thank-you {
  font-weight: 600;
  font-size: 1.6em;
  margin-top: 1em;
  padding: 0 1em;
}

.fa-check {
  font-size: 2.5em;
  background-color: #60ba6b;
  color: #f9f9f9;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-top: .25em;
}

/*PROFILE PICTURE STORY  */

.me {
  width: 65%;
  border-radius: 50%;
  margin: 0 4em 5em auto;
  display: block;
}

.main-img-container {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 7em auto;
}

.story-container {
  margin: 2em auto 0 auto;
  width: 100%;
  height: 100%;
}

/* NAV BARS */

.menu-container {
  display: inline-block;
  float: right;
  margin: 1.45em 0 0 0;
}

.menu {
  list-style: none;
  margin: 0 auto !important;
  text-align: right;
  display: inline-block;
}

.desktop-nav {
  background-color: #222;
  box-shadow: 0em .2em .5em rgba(0, 0, 0, .2);
}

.hamburger-container {
  display: none;
}

.navi {
  display: inline-block;
}

.projects {
  padding: 0 .5em !important;
  margin: 0 .4em;
  /* border-right: 1px solid rgba(255, 255, 255, .15);
  border-left: 1px solid rgba(255, 255, 255, .15); */
}

.about, .contact, .projects {
  font-size: .9em;
  font-weight: 400;
  color: #999;
  font-family: 'Actor', helvetica;
  display: inline-block;
  padding: 0 .5em;
  transition: .1s ease-in-out;
}

.about:hover, .contact:hover, .projects:hover {
  border-bottom: 2px solid #ccc;
  font-weight: 600;
  color: #ccc;
}

.active {
  border-bottom: 2px solid #ccc;
  color: #ccc;
  transition: 1s;
  font-weight: 600;
}

.nav-line {
  border-top: 2px solid rgba(255, 255, 255, .2);
  /* box-shadow: 0 1px 3px rgba(0,0,0,.05); */
  padding: 0;
  margin: 0 auto;
  width: 60%;
}

/*FEATURED WORK//CONTACT//ABOUT*/

.featured-work, .featured-contact, .featured-about, .email-sent-container {
  flex-grow: 1;
  margin-top: .5em;
  text-align: center;
  margin-bottom: 5em;
}

.featured-contact {
  margin: 4em auto 5em auto;
  width: 90%;
}

.email-sent-container {
  margin-top: 4em;
}

.project-title a:hover {
  text-decoration: underline;
}

.thumbnail-image {
  width: 80%;
  margin: 0 0 3.2em 0;
  border-radius: 10px 10px 0 0;
}

.work {
  margin: 1.5em auto 0 auto;
}

.projects-2018, .projects-2017 {
  font-size: 11px;
  display: inline;
  font-family: monospace;
  margin-left: .5em;
  color: rgba(255,255,255,.7);
  font-weight: 800;
  border-radius: 5px;
  padding: 0 .3em !important;
  border: 1px solid rgba(255,255,255,.7);
}

.project-title {
  border-radius: 2px;
  font-size: 1.15em;
  font-family: "Actor", helvetica;
  width: 100%;
  display: inline;
}

.project-title a {
  color: #eee;
  font-weight: 500;
}

.project-card {
  background-color: rgba(0, 0, 0, .7);
  width: 80%;
  padding: .75em 0.1em 0.1em .45em;
  border-radius: 0px 0px 10px 10px;
  color: #eee;
  font-family: "Actor", helvetica;
  line-height: 1em;
  text-align: left;
  border-left: 1px solid rgba(255, 255, 255, .15);
  border-right: 1px solid rgba(255, 255, 255, .15);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.project-description::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.project-description::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
}

.project-description::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 3px;
}

.r .project-card {
  margin: -3.4em auto 0 0;
}

.l .project-card {
  margin: -3.4em 0 0 auto;
}

.description-opening {}

.project-description {
  height: 120px;
  overflow: auto;
}

.project-description p {
  margin-bottom: .75em;
  padding-right: 1em;
  font-size: .77em;
  color: #bbb;
}

.external {
  margin: .55em 0 0 0;
}

.external a {
  margin-right: .8em;
  color: #eee;
  font-size: .8em;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255,255,255,.3);
  padding: .25em .35em;
  border-radius: 5px;
  font-weight: normal;
  transition: .1s ease-in-out;
}

.external a:hover {
  text-decoration: underline;
  color: #333;
  background: #eee;
  font-weight: 800;
}

.lang-lib {
  display: block;
  padding: .3em 0 0 0;
  margin-top: .35em;
}

.devicon-atom-original {
  color: #5ecc82;
}

.devicon-html5-plain {
  color: #d86a4b;
}

.devicon-jquery-plain-wordmark {
  color: #7acef4;
}

.devicon-css3-plain {
  color: #143872;
}

.devicon-bootstrap-plain {
  color: #7e70ad;
}

.devicon-javascript-plain {
  color: #e5d44e;
}

.lang-lib span {
  margin-right: .55em;
  font-size: 12px;
}

.lang-lib i {
  margin-right: .2em;
  font-size: 1em;
}

.built, .status {
  color: #eee;
}

.project-status {
  font-size: 12px;
}

.result {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.l {
  text-align: right;
  margin: .5em 0 2em 0;
}

.r {
  text-align: left;
  margin: .5em 0 2em 0;

}

.my-story {
  width: 655px;
  text-align: left;
  padding: 1em;
  padding-bottom: 0;
  font-family: 'Actor', helvetica;
  font-size: .83em;
  margin: 0 auto;
}

.my-story p {
  margin-bottom: .8em;
  margin-right: .5em;
  line-height: 1.45em;
  font-size: .95em;
  color: #666;
}

.opening-statement {
  font-size: 1.35em !important;
  font-weight: 600;
  color: #000 !important;
}

.my-story h1 {
  margin: 0 .55em .3em 0;
  color: #000;
  font-weight: 600;
  font-size: 2.7em;
  text-align: right;
  border-right: 2px solid #000;
  padding-right: 0.3em;
}

.outro {
  color: #000 !important;
  font-weight: 600;
  margin-bottom: 0 !important;
}

.name-outro {
  display: inline-block;
}

.melbourne {
  color: #666;
  font-size: .9em;
  display: block;
  margin-top: 1em;
}


.location {
  color: #ce612f;
  margin: 0 1px;
  display: inline-block;
}

.text {
  display: inline-block;
  width: 60%;
}

.image {
  display: inline-block;
  width: 39%;
}

.image p {
  display: inline;
}

.line-2 {
  height: 3px;
  width: 10px;
  background: #fff;
  display: block;
  margin: .4em auto;
}

.my-story a {
  color: #000;
  text-decoration: underline !important;
  font-weight: 600;
}

.github-calender {
  margin: 0 auto;
  text-align: center;
}

.calender {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.stats-line {
  margin: .85em 0 1.4em 0;
}

.github-stats {
  font-size: 1.5em;
  color: #000;
  font-weight: 600;
  display: inline-block;
  margin-left: .55em;
  border-right: 1px solid rgba(0, 0, 0, .2);
  padding-right: .5em;
}

.repoData, .contribution, .addition {
  margin-right: .5em;
  font-size: 1.25em;
  font-weight: 900;
  color: #000;
  font-family: monospace;
}

.repos {
  display: inline-block;
  margin-left: .6em;
  font-size: .7em;
  color: #888;
}

.cont-lastyear, .add-lastyear {
  display: inline-block;
  font-size: .7em;
  margin-left: .6em;
  color: #888;
}

.record {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-left: .3em;
  margin-bottom: 1px;
  animation: pulse 1.65s infinite;
}

@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: rgba(255, 0, 0, 0);
  }
}

/* .download-cv {
  margin: 1em auto .5em 0;
  padding: .15em 0 .15em 0;
  border-bottom: 1px solid #51433e;
  border-radius: 4px;
  background: #c18b74;
  width: 110px;
  font-size: 1.2em;
}

.download-cv a {
  color: #51433e;
  font-family: "Scada", helvetica;
  font-weight: 600;
  padding: .65em;
  font-size: .85em;
  text-decoration: none !important;
} */

/* SOCIAL SECTION */

.social-container {
  padding: 0 0 1em 0;
  text-align: center;
  width: 200px;
  margin: 0 6em .4em auto;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.social-container h1 {
  font-family: 'Actor', helvetica;
  font-size: 1.3em;
  font-weight: 600;
  border: 1px dashed rgba(0,0,0,.15);
  padding: .5em;
  width: 95%;
  margin: 0 auto .7em auto;
  border-radius: 5px;
}

.social-print {
  width: 198px;
  text-align: left;
  margin: 0 6.7em 0 auto;
  font-family: monospace;
}

.social-print a {
  color: #000;
}

.social-print a:hover {
  text-decoration: underline;
}

.social-print p, .social-print span {
  font-size: .85em;
  margin-bottom: 2px;
}

.social-print span {
  display: inline-block;
  margin-top: 1.5em;
}

.contact-location {
  margin-right: 3px;
  color: #ce612f;
}

.mobile a {
  background: #e68523;
  color: #f9f9f9;
  border-radius: 5px;
  margin-left: 0 !important;
}

.mobile a:hover {
  background: #f9f9f9;
  color: #e68523;
}

.email a {
  background: #c4493a;
  color: #f9f9f9;
  border-radius: 5px;
}

.email a:hover {
  background: #f9f9f9;
  color: #c4493a;
}

.github a {
  background: #333;
  color: #f9f9f9;
  border-radius: 5px;
}

.github a:hover {
  background: #f9f9f9;
  color: #333;
}

.linkedin a {
  background: #0077b5;
  color: #f9f9f9;
  border-radius: 5px;
  margin-right: 0 !important;
}

.linkedin a:hover {
  background: #f9f9f9;
  color: #0077b5;
}

.mobile a, .email a, .github a, .linkedin a {
  padding: .3em .3em .3em .3em;
  font-size: 1.4em;
  margin: 0;
  transition: .1s ease-in-out;
}

.mobile, .email, .github, .linkedin {
  width: 32px !important;
}

/* EMAIL SECTION */

.email-me {
  font-family: "Actor", helvetica;
  font-weight: 600;
  width: 450px;
  text-align: left;
}

.form-title-container {
  text-align: left;
}

.form-title {
  font-weight: 600;
  font-size: 1.1em;
  display: inline-block;
  margin-left: .3em;
  color: #222;
}

.idea {
  font-weight: 600;
  margin-bottom: .15em;
  display: inline-block;
  padding: .5em;
  font-size: 1.3em;
  border: 1px dashed rgba(0,0,0,.15);
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.via-formspree {
  display: block;
  color: #777;
  font-size: .65em;
  margin: .3em 0;
  font-weight: normal;
  text-align: center !important;
}

.email-name {
  width: 170px;
  margin: .4em .5em .75em 0em;
  padding: .55em .55em .5em .55em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background: #f9f9f9;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Actor", helvetica;
  font-size: .8em;
  border-radius: 0 !important;
}

.email-name:focus, .email-address:focus, .email-msg:focus {
  outline-color: rgba(0,0,0,.5);
}

.email-address {
  width: 269px;
  padding: .55em .55em .5em .55em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .05);
  font-family: "Actor", helvetica;
  font-size: .8em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background: #f9f9f9;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0 !important;
}

.email-msg {
  padding: .55em .55em .5em .55em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .05);
  width: 450px;
  height: 110px;
  font-family: "Actor", helvetica;
  font-size: .8em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f9f9f9;
  border-radius: 0 !important;
}

.email-submit {
  font-family: monospace;
  display: block;
  padding: .9em;
  width: 100%;
  margin-top: .45em;
  border: 1px solid rgba(0,0,0,.2);
  color: #000;
  font-weight: 600;
  background: #f9f9f9;
  transition: .15s ease-in-out;
  border-radius: 5px;
}

.email-submit:hover {
  background: #000;
  color: #f9f9f9;
  cursor: pointer;
}

/*FOOTER*/

footer {
  background-color: #eee;
  color: #555;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  padding: .2em 1em .2em 2.5em;
  text-align: center;
}

.cp {
  font-family: 'Actor', helvetica;
  font-size: .8em;
  display: inline-block;
  padding: .5em 0 0 0;
  font-weight: 600;
  float: left;
}

.cp span {
  display: block;
  margin: -.3em 0 0 .1em;
  padding: 0;
  text-align: left;
}

.back-to-top {
  margin: .3em auto;
  text-align: center;
  display: inline-block;
  transition: .5s ease-in-out;
  display: none;
  font-size: 3em;
  color: #aaa;
}

.back-to-top:hover {
  color: #888;
  cursor: pointer;
}

.github-footer {
  float: right;
  margin: .5em .2em 0 .2em;
  font-size: 1.2em;
}

.linkedin-footer {
  margin: .5em 0 0 0;
  float: right;
  font-size: 1.2em;
  padding: 0 .6em;
}

.fb-footer a {
  color: #3b5998;
}

.fb-footer a:hover {
  color: #263d6b;
}

.github-footer a {
  color: #444;
}

.github-footer a:hover {
  color: #000;
}

.linkedin-footer a {
  color: #0077b5;
}

.linkedin-footer a:hover {
  color: #005784;
}

.footer-nav {
  text-align: center;
  display: inline-block;
  margin-top: .8em;
  margin-left: 0;
  position: sticky;
}

.footer-nav a {
  color: #666;
}

.footer-nav a:hover {
  color: #000;
  text-decoration: underline;
}

.footer-about, .footer-projects, .footer-contact {
  font-size: 1em;
  margin: 0 .1em;
  padding: 0 .65em;
}

.footer-projects {
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.footer-active a {
  color: #333;
  font-weight: 600;
}
