/*Base Styles*/

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E3E3E3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

.main-container {
  flex-grow: 1;
}

/*Navbar*/
.shopping-cart-icon i {
  color: #000;
  font-size: 1.7em;
  margin: .3em 1em 0 3em;
  position: relative;
}

.shopping-cart-icon i .cart-item {
  font-size: .43em;
  position: absolute;
  right: -6px;
  top: -7px;
  color: #000;
  font-weight: 900;
  background-color: #FA5737;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #f7f7f7;
  display: none;
}

.navbar-nav a i:hover {
  color: rgba(0, 0, 0, 0.5);
}

.main-img {
  padding: 2.7em;
  background-color: #FA5737;
  width: 100%;
}

.main-img img {
  width: 420px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  max-width: 1700px;
}

.fa-shopping-cart {
  font-size: 10em;
}

.logo{
  width: 250px;
}

/*Main-Content / Index-page*/
.featuring {
  font-size: 2em;
  margin: 1.7em;
  font-family: 'Rozha One', serif;
}

.polo {
  width: 280px;
  height: 280px;
  background-color: #E3E3E3;
  padding-bottom: 1em;
}

.product-hover:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.card {
  background-color: #E3E3E3;
}

.price {
  margin-bottom: 2em;
  margin-top: -1.5em;
  font-weight: 500;
  color: #666;
  font-size: .8em;
}

.merch {
  font-weight: 600;
  font-size: .9em;
  padding: .6em;
  color: #000;
  font-family: 'Source Serif Pro', serif;
}

.product-hover a {
  text-decoration: none;
}

.row2 {
  margin-top: 2em;
  margin-bottom: 3em;
}


/*Product-Page*/

.product-page {
  margin-top: 5em;
  text-align: center;
}

.product-page img {
  margin-left: -1em;
  width: 320px;
}

.product-title {
  margin-top: 4.5em;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Source Serif Pro', serif;
}

.product-price {
  font-weight: 700;
  color: #777;
  margin-bottom: 3em;
  font-size: .85em;
}

.size-label {
  display: block;
}

#product-size {
  height: 2.68em;
  border-radius: .3em;
  width: 10.5em;
  padding-left: .6em;
  font-family: Helvetica;
  font-size: .85em;
  padding-top: .2em;
  font-weight: bold;
}

.cart {
  width: 10.5em;
  margin-left: .5em;
  background-color: #FF7B61;
  border-color: #FF7B61;
  font-weight: 700;
  padding-top: .7em;
  margin-top: -3px;
  font-size: .85em;
}

.cart:hover {
  background: #FA5737;
  border-color: #FA5737;
}

.product-description {
  margin: 2em 0;
  font-size: .8em;
  width: 80%;
}

.product-description p {
  font-weight: 100;
}

.media-share {
  margin: 1em 0;
}

.share-btn, .tweet-btn {
  margin-right: .6em;
  border: 1px solid;
  font-size: .65em;
  border-radius: .3em;
  height: 80px !important;
  padding: 3px 5px;
  font-family: helvetica;
  font-weight: bold ;
}

.share-btn:hover, .tweet-btn:hover {
  text-decoration: none;
}

.share-btn i, .tweet-btn i {
  font-weight: 600;
}

.share-btn:hover {
  background-color: #E3E3E3;
  color: #3B5998;
  transition: .2s;
}

.tweet-btn:hover {
  background-color: #E3E3E3;
  color: #0084b4;
  transition: .2s;
}

.share-btn {
  background-color: #3B5998;
  border-color: #3B5998;
  color: #E3E3E3;
}

.tweet-btn {
  color: #E3E3E3;
  border-color: #0084b4;
  background-color: #0084b4;
}

.back {
  text-align: center;
  margin: 7em 0;
  text-align: center;
}

.back-btn {
  color: #333;
  border: 1px solid #777;
  padding: 0.4em 1.5em .4em .8em;
  border-radius: .3em;
  font-weight: 900;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}

.back-btn:hover {
  text-decoration: none;
  color: #E3E3E3;
  background: #232323;
  border-color: #aaa;
  transition: .1s;
}

.back-btn i {
  padding: 0 .5em;
  font-weight: 700;
}

.display {
  width: 400px;
}

/*item-in-cart*/
.cart-item {
  padding: 3px 6px;
  font-family: 'Source Serif Pro';
}

.cart-header {
  font-weight: 600;
  text-align: left;
  font-family: sans-serif;
  color: #E3E3E3;
  background-color: #FA5737;
  padding: .2em 2.6em;
}

.item-in-cart {
  width: 160px;
  padding: 2em 0 1em 0;
}

.cart-item-header {
  margin: 3em 0 .5em 1.65em;
  font-size: 1.2em;
  font-family: 'Roboto', serif;
}

.input-group{
  margin-left: -6em;
}

.proceed {
  display: block;
  margin: 1.5em;
  font-size: 1.2em;
  background: #FF7B61;
  border: 1px solid #FF7B61;
  color: #fff;
  margin-left: auto;
  cursor: not-allowed;
}

.total-cost {
  margin: 1.9em;
  border: 1px solid #aaa;
  font-size: 1em;
  background-color: #fff;
  color: #fff;
  cursor: default;
  color: #333;
  padding: .35em;
  height: 2.2em;
}

.total-cost:hover {
  transition: 0;
  background-color: #fff;
  border: 1px solid #aaa;
  color: #333;

}

.proceed i {
  color: #fff !important;
}

.proceed:hover {
  background: #db593f;
}

.proceed i {
  font-size: 1em;
  color: #000;
}

.cart-size {
  margin-left: 2.05em;
  font-weight: 700;
}

.remove-item {
  margin-left: 2.35em;
  margin-top: .65em;
  padding: .2em .2em .05em .2em;
  font-size: .75em;
  border: 1px solid #ccc;
  color: #777;
  border-radius: 3px;
  background: #eee;
}

.remove-item:hover {
  color: #fff;
  background-color: #aaa;
  border-color: #aaa;
  cursor: pointer;
  transition: .05s;
}

.inputs {
  margin-top: 5em;
}

.amount-box {
  width: 30px;
  font-size: .75em;
  text-align: center;
}

.add:hover, .reduce:hover {
  color: #777;
  cursor: pointer;
}

.add, .reduce {
  padding: .5em;
  margin: -.5em;
}

.cart-price {
  margin-top: 5.75em;
  font-family: 'Roboto', helvetica;
  color: #666;
  font-size: .9em;
  font-weight: 700;
}

.cart-price::before {
  content: "$";
}

/*Footer*/
.social-media, .newsletter {
  margin: 2em;
  margin-top: 1.4em;
  margin-bottom: 2.5em;
  white-space: nowrap;
}

.social-media i {
  font-size: 1em;
  margin: 0;
  color: #E3E3E3;
}

.social-media i:hover {
  color: #fff;
  transition: .3s;
}

.social-media ul a {
  color: #bbb;
  font-size: .7em;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.social-media ul a:hover {
  color: #fff;
  font-size: .7em;
  text-decoration: none;
}

.closing {
  background: #232323;
}

.closing-content {
  margin: 1.85em 0 0 2em;
}

.closing-content small {
  color: #fff;
  font-weight: 800;
  font-size: .8em;
}

.subscribe {
  margin-left: 1.35em;
}

.newsletter p {
  color: #f7f7f7;
  font-size: .7em;
  margin-left: -.9em;
  margin-bottom: -2.85em;
  word-wrap: break-word;
}

.email-input {
  padding: 0 3em 0 1.25em;
  max-width: 600px;
  margin-bottom: 3em;
  margin-left: 0em;
}

.email-input input, .email-input button {
  font-size: .75em;
}

.email-input .form-control {
  margin-right: 1em;
  margin-bottom: 3em;
}

footer {
  text-align: center;
  background-color: #f7f7f7;
}

.footer-img {
  margin: .8em;
  height: 9px;
}


/*Shopping cart page*/
.shopping-cart h1 {
  font-weight: 800;
  text-align: center;
  margin: 3em 0 1em 0;
  font-family: sans-serif;
}

.shopping-cart p {
  text-align: center;
  margin-bottom: -2em;
}


/*Checkout notification*/
.checkout-notification {
  text-align: center;
  background-color: #FA5737;
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;

}

.checkout-notification p {
  color: #fff;
  text-decoration-color: #fff;
  padding: .4em;
  margin: 0;
}

.checkout-notification a:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .product-title {
    margin-top: 3.2em;
    font-size: 1.7em;
  }
  .cart, #product-size {
    margin: .5em 0;
    font-size: .85em;
  }
  .cart {
    height: 2.55em;
  }
  .back {
    margin: 3em 0 5em 0;
  }
  .price {
    margin-bottom: 6em;
  }
}

@media (max-width: 767px) {
  .shopping-cart-icon i {
    margin: .4em .35em 0 .5em;
    font-size: 1.5em;
  }
  .shopping-cart-icon::before {
    content: "Cart";
    color: #000;
  }

  .price {
    margin-bottom: 4em;
  }

  .product-page {
    margin-top: 3em;
  }

  .cart-center {
    text-align: center !important;
  }

  .checkout-info {
    margin-top: -4em;
    text-align: center !important;
  }

  .cart-item-header, .cart-size, .remove-item, .cart-header {
    margin-left: 0;
    text-align: center;
  }

  .amount-selector {
    text-align: center;
  }

  .amount-box {
    width: 30px;
  }

  .inputs {
    margin: 1em;
    text-align:
  }

  .cart-price {
    margin: 0 0 2.5em 0;
  }

  .item-1 img, .item-2 img, .item-3 img{
    width: 250px;
  }

  .proceed {
    margin: 1.83em 1.0em 1.83em auto;
    height: 2.3em;
    font-size: 1em;
    padding-left: .5em;
    padding-right: .5em;
  }

  .product-title {
    margin-top: 2em;
  }

  .total-cost {
    margin-right: auto;
  }

  .pgc {
    text-align: center;
  }

  .product-description {
    margin: 1em auto;
  }
}


@media (max-width: 355px) {
  .logo{
    width: 230px;
  }

  .main-img {
    padding: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .polo {
    height: 210px;
  }

  .checkout-info {
    margin-left: 2em;
  }

  .cart-header {
  }
}

@media (max-width: 487px) {
  .polo {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 559px) {
  .cart-header {
    font-size: 1.9em;
    padding: .45em 0;
  }
}
