/*GLOBAL STYLES*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hr-line {
  margin: .4em 0;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

/*HEADER*/

header {
  margin: .5em 0;
}

.header-spacing {
  text-align: center;
  padding: .85em .65em .15em .65em;
  width: 295px;
  margin: 1em auto 0 auto;
}

.name {
  font-size: 1.75em;
  font-family: 'Montserrat', helvetica;
  color: #333;
  margin-bottom: .1em;
}

.title {
  font-family: 'Actor', helvetica;
  font-size: .95em;
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  padding: 2px 0 1px 0;
  width: 265px;
  margin: auto;
  border-radius: 6px 0 6px 0;
}

/*PROFILE PICTURE STORY CONTAINER*/

.me {
  width: 65%;
  border-radius: 50%;
  margin: 0 4em 3em auto;
  display: block;
}

.main-img-container {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 7em auto;
}

.story-container {
  margin: 1em auto 0;
  width: 100%;
  height: 100%;
}

/* NAV BARS */

.menu {
  list-style: none;
  margin: 0 auto;
}

.desktop-nav {
  background: rgba(0, 0, 0, .8);
  text-align: center;
}

.navi {
  display: inline-block;
  margin: .4em 0 0 0;
}

.projects {
  margin: 0 3.4em;
}

.about, .contact, .projects {
  font-size: .9em;
  font-weight: 600;
  color: #999;
  font-family: "Actor", helvetica;
  display: inline-block;
  padding: .5em .3em .4em .3em;
  transition: .1s ease-in-out;
}

.about:hover, .contact:hover, .projects:hover {
  color: #ddd;
}

.active {
  color: #ddd;
  transition: 1s;
}

.nav-line {
  border-top: 2px solid rgba(255, 255, 255, .2);
  /* box-shadow: 0 1px 3px rgba(0,0,0,.05); */
  padding: 0;
  margin: 0 auto;
  width: 60%;
}

/*FEATURED WORK//CONTACT//ABOUT*/

.featured-work, .featured-contact, .featured-about {
  flex-grow: 1;
  margin-top: 2em;
  text-align: center;
  margin-bottom: 5em;
}

.featured-contact {
  margin-top: 3.5em;
}

.project-title a:hover {
  text-decoration: underline;
}

.thumbnail-image {
  width: 70%;
  margin: 2em 0 3.2em 0;
  border-radius: 4px 4px 0 0;
}

.work {
  margin: 0 auto 0 auto;
}

.project-title {
  border-radius: 2px;
  font-size: 1.1em;
  font-family: "Actor", helvetica;
  width: 100%;
  display: inline;
}

.project-title a {
  color: #eee;
  font-weight: 500;
}

.work-description {
  background-color: rgba(0, 0, 0, .7);
  width: 70%;
  padding: .75em .65em 0.1em .65em;
  border-radius: 0px 0px 4px 4px;
  color: #ddd;
  font-family: "Actor", helvetica;
  line-height: 1em;
  text-align: left;
  border-left: 1px solid rgba(255, 255, 255, .15);
  border-right: 1px solid rgba(255, 255, 255, .15);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}


.r .work-description {
  margin: -3.4em auto 0 0;
}

.l .work-description {
  margin: -3.4em 0 0 auto;
}

.description {
  margin-bottom: .5em;
  font-size: .75em;
}

.external {
  margin: .55em 0 0 0;
}

.external a {
  margin-right: .8em;
  color: #111;
  font-size: .8em;
  background: #ccc;
  padding: .2em .35em .1em .35em;
  border-radius: 5px;
  font-weight: bold;
}

.external a:hover {
  text-decoration: underline;
  color: #333;
  font-weight: bold;
}

.lang-lib {
  display: block;
  padding: .3em 0 0 0;
  margin-top: .35em;
}

.devicon-html5-plain {
  color: #d86a4b;
}

.devicon-jquery-plain {
  color: #7acef4;
}

.devicon-css3-plain {
  color: #143872;
}

.devicon-bootstrap-plain {
  color: #6a5c99;
}

.devicon-javascript-plain {
  color: #e5d44e;
}

.lang-lib span {
  margin-right: .55em;
  font-size: .8em;
}

.lang-lib i {
  margin-right: .35em;
  font-size: .85em;
}

a:hover {
  text-decoration: none;
}

.l {
  text-align: right;
}

.r {
  text-align: left;
}

.social {
  margin: 0 auto;
}

.social i {
  font-size: 1.5em;
  padding: .4em;
  margin: 0;
  width: 45px;
  height: 45px;
  color: #fff;
}

.email, .mobile, .github, .linkedin {
  display: inline-block;
  width: 175px;
  background: rgba(0, 0, 0, .8);
  padding: .45em 0 .2em 0;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, .15);
  display: inline-block;
  margin: 0 1.1em;
}

.linkedin {
  background: rgba(0, 119, 181, .8);
  border-radius: 20px 0 20px 0;
}

.email {
  background: rgba(219, 50, 54, .9);
  border-radius: 0 20px 0 20px;
}

.github {
  background: rgb(51, 51, 51);
  border-radius: 0 20px 0 20px;
}

.mobile {
  background: rgba(244, 194, 13, .85);
  border-radius: 20px 0 20px 0;
}

.email h3, .mobile h3, .github h3, .linkedin h3 {
  font-size: .65em;
  color: #fff;
  margin: 0 auto .5em auto;
  padding: .35em .35em 0 .35em;
  border-radius: 4px;
  width: 175px;
}

.social a {
  color: #fff;
}

.social h3 a:hover {
  color: #fff;
  text-decoration: underline;
}

.get-touch {
  font-family: 'Actor', helvetica;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin: .5em auto .45em auto;
  color: rgba(0, 0, 0, .7);
}

.my-story {
  width: 655px;
  text-align: left;
  padding: 1em;
  padding-bottom: 0;
  font-family: 'Actor', helvetica;
  color: #666;
  font-size: .83em;
  margin: 0 auto;
}

.my-story p {
  margin-bottom: .8em;
  margin-right: .5em;
  border-radius: 4px;
  line-height: 1.45em;
  font-size: .95em;
}

.my-story h1 {
  margin: 0 .7em .3em 0;
  color: #000;
  font-weight: bold;
  font-size: 2.3em;
  text-align: right;
  border-right: 2px solid #000;
  padding-right: .3em;
}

.text {
  display: inline-block;
  width: 60%;
}

.image {
  display: inline-block;
  width: 39%;
}

.line-2 {
  height: 3px;
  width: 10px;
  background: #fff;
  display: block;
  margin: .4em auto;
}

.my-story a {
  color: #000;
  text-decoration: underline !important;
  font-weight: bold;
}

.github-calender {
  margin: 0 auto;
  text-align: center;
}

.calender {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.stats-line {
  margin: .85em 0 1.4em 0;
}

.github-stats {
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
  display: inline-block;
  margin-left: .55em;
  border-right: 1px solid rgba(0, 0, 0, .2);
  padding-right: .5em;
}

.repoData, .contribution, .addition {
  margin-right: .5em;
  font-size: 1.25em;
  font-weight: 900;
  color: #000;
  font-family: monospace;
}

.repos {
  display: inline-block;
  margin-left: .6em;
  font-size: .7em;
  color: #888;
}

.cont-lastyear, .add-lastyear {
  display: inline-block;
  font-size: .7em;
  margin-left: .6em;
  color: #888;
}

.record {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-left: .45em;
  margin-bottom: 1px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: rgba(255,0,0,0);
  }
}

/* .download-cv {
  margin: 1em auto .5em 0;
  padding: .15em 0 .15em 0;
  border-bottom: 1px solid #51433e;
  border-radius: 4px;
  background: #c18b74;
  width: 110px;
  font-size: 1.2em;
}

.download-cv a {
  color: #51433e;
  font-family: "Scada", helvetica;
  font-weight: bold;
  padding: .65em;
  font-size: .85em;
  text-decoration: none !important;
} */

/* EMAIL SECTION */

.email-hr {
  margin: 4em auto 2.5em auto;
  width: 400px;
}

.email-me {
  font-family: "Actor", helvetica;
  font-weight: bold;
  margin: 0 auto 0 auto;
  width: 387px;
  text-align: center;
}

.form-title-container {
  text-align: left;
}

.form-title  {
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block;
}

.via-formspree {
  display: inline-block;
  color: #777;
  font-size: .75em;
  margin: 0 .5em;
  font-weight: normal;
}

.email-name {
  width: 150px;
  margin: .4em .5em .75em 0em;
  padding-left: 0;
  padding: .40em .55em .35em .55em;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.2);
  font-family: "Actor", helvetica;
  font-size: .8em;
}

.email-name:focus, .email-address:focus, .email-msg:focus {
  outline-color: #333;
}

.email-address {
  width: 225px;
  padding: .40em .55em .35em .55em;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.2);
  font-family: "Actor", helvetica;
  font-size: .8em;
}

.email-msg {
  padding: .40em .55em .35em .55em;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.2);
  width: 387px;
  height: 130px;
  font-family: "Actor", helvetica;
  border-radius: 4px;
  font-size: .8em;
}

.email-submit {
  font-family: "Actor", helvetica;
  display: block;
  padding: .4em .45em .25em .45em;
  width: 100%;
  margin-top: .35em;
  border-radius: 4px;
  border: 0;
  background: rgba(0,0,0,.7);
  color: #eee;
  transition: .3s ease-in-out;
}

.email-submit:hover {
  background: rgba(0,0,0,.9);
  cursor: pointer;
}


/*FOOTER*/

footer {
  background-color: #eee;
  color: #555;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  padding: .4em 1em .4em 2.5em;
  text-align: center;
}
.cp {
  font-family: 'Actor', helvetica;
  font-size: .8em;
  display: inline-block;
  padding: .6em 0 0 0;
  font-weight: bold;
  float: left;
}

.cp span {
  display: block;
  margin: -.3em 0 0 .1em;
  padding: 0;
  text-align: left;
}

.back-to-top {
  position: sticky;
  background-color: #eee;
  margin: 0 auto -1.7em auto;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.back-to-top i {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 2.3em;
  color: #666;
}

.github-footer {
  float: right;
  margin: .3em;
  font-size: 1.4em;
}

.linkedin-footer {
  margin: .3em 0;
  float: right;
  font-size: 1.4em;
  padding: 0 .6em;
}

.fb-footer a {
  color: #3b5998;
}

.fb-footer a:hover {
  color: #263d6b;
}

.github-footer a {
  color: #444;
}

.github-footer a:hover {
  color: #000;
}

.linkedin-footer a {
  color: #0077b5;
}

.linkedin-footer a:hover {
  color: #005784;
}

.footer-nav {
  text-align: center;
  display: inline-block;
  margin-top: .8em;
  margin-left: 0;
  position: sticky;
}

.footer-nav a {
  color: #666;
}

.footer-nav a:hover {
  color: #000;
  text-decoration: underline;
}

.footer-about, .footer-projects, .footer-contact {
  font-size: 1em;
  margin: 0 .1em;
  padding: 0 .65em;
}

.footer-projects {
  border-left: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
}

.footer-active a {
  color: #333;
  font-weight: bold;
}
