/*GLOBAL STYLES*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0cb7af;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body,
html {
  overflow-x: hidden;
}

.featured-work {
  flex-grow: 1;
}

/*HEADER*/
.header-spacing {
  text-align: center;
  padding-top: 2.3em;
}

.name {
  font-weight: 100;
  font-size: 3.6em;
  font-family: "Scada", sans-serif;
  color: #2d3c49;
}

.title {
  font-family: "Dosis", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5em;
  color: #2d3c49;
}

/*PROFILE PICTURE & LOGO*/
.me {
  margin: 5em 0 2em 0;
  width: 20%;
  max-width: 300px;
  border-radius: 50%;
  filter: brightness(85%);
}

.main-img-container {
  text-align: center;
  width: 100%;
}

/*FEATURED WORK//CONTACT//ABOUT / BODY*/

.featured-work, .about-page, .contact-page {
  text-align: center;
  padding-bottom: 4em;
}

.project-title {
  margin: 4em auto -.5em auto;
  padding: .4em .4em .8em .4em;
  background-color: #7dada2;
  border: 1px solid #437271;
  border-radius: 10px 10px 0 0;
  color: #2c4847;
  font-weight: 400;
  font-family: "Scada", sans-serif;
  text-decoration: underline;
  width: 100%;

}

.thumbnail-image {
  width: 100%;
  margin: 0 0 3em 0;
  border: 1px solid #2d3c49;
  border-radius: 10px;
}

.e-com {
  position: relative;
}

.about, .contact, .projects {
  font-size: 1.3em;
  font-weight: 600;
  color: #2d3c49;
  font-family: "Roboto Mono", monospace;
  text-decoration: underline;
  display: inline-block;
  background: #008cb5;
  padding: .4em;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.about:hover, .contact:hover, .projects:hover {
  text-decoration: underline;
  color: #2d3c49;
  background-color: #006e8e;
  transition: .5s;
  font-size: 1.4em;
  text-transform: uppercase;
  border-bottom: 4px solid #2d3c49;
}

.work-description {
  background-color: #2d3c49;
  width: 100%;
  text-align: center;
  margin: -4.75em auto auto auto;
  padding : 1.6em 1em 1em 1em;
  border: 1px solid #2d3c49;
  border-radius: 0px 0px 15px 15px;
  font-weight: 500;
  box-shadow: 0 6px 15px -4px #222;
  color: #7d97ad;
  font-family: "Scada", sans-serif;
  margin-bottom: 1.5em;
  text-align: justify;
  line-height: 1.4em;
  font-size: .85em;
}

a:hover {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  color: #2d3c49;
  background-color: #006e8e;
  transition: 1s;
  font-size: 1.4em;
  text-transform: uppercase;
  border-bottom: 4px solid #2d3c49;
}

.connect {
  margin-top: 4em;
}

.work {
  margin-top: 1em;
}

.email, .mobile {
  margin-bottom: .5em;
  font-family: "Scada", sans-serif;
}

.mailto, .number {
  background: #d5efeb;
  padding: .5em;
  border-radius: 10px;
  font-family: "Scada", sans-serif;
  font-size: 1.1em;
  color: #2d3c49;
  display: inline-block;
  width: 240px;
  border-bottom: 2px solid #2d3c49;
  box-shadow: 0 3px 10px -4px #333;

}

.number:hover::after {
  content: " - feel free to call or text me!";
}

.number:hover {
  width: 340px;
}

.mailto:hover::before {
  content: "feel free to email me at ";
}

.mailto:hover {
  width: 430px;
}

.connect h2 {
  font-size: 1.4em;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.social {
  margin-top: 1.5em;
}

.social i {
  font-size: 1.8em;
  margin: .7em .3em 0 .3em;
  color: #333e47;
}

.social i:hover {
  color: #000;
  transition: .5s;
}

.who-am-i {
  width: 60%;
  margin: .3em auto;
  background-color: #7da0ad;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  padding: .2em;
  font-size: 1.75em;
  z-index: 1;
  position: relative;
  font-family: "Scada", helvetica;
  font-weight: bold;
  color: #263a42;
  border-radius: 10px 10px 0 0;
}

.my-story {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  padding: 1.85em 1.5em .2em 1.5em;
  border-radius: 10px;
  font-family: "Scada", helvetica;
  margin-top: -1.25em;
  color: #263a42;
  line-height: 1.2em;
  font-size: .8em;
  box-shadow: 0 4px 15px -6px #222;
  background-color: #7da0ad;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.download-cv {
  margin: 2.5em auto 0 auto;
  padding: .2em;
  border-bottom: 2px solid #663f39;
  border-radius: 10px;
  background: #dd8e82;
}

.download-cv a {
  color: #663f39;
  font-family: "Scada", helvetica;
  font-weight: bold;
  padding: .5em;
  font-size: .85em;
}


/*FOOTER*/
footer {
  text-align: center;
  background: #00353a;
  color: #08938d;
  font-size: 900;
  padding: .2em;
}

.sticky-footer {
  font-family: "Scada", sans-serif;
}

/*MEDIA QUERIES*/
@media (max-width: 767px) {
  .mobile {
    margin-top: 1em;
  }

  .me {
    width: 33%;
  }

  .thumbnail-image {
    width: 80%;
  }

  .work-description, .project-title {
    width: 80%;
  }

  .mailto {
    font-size: 1em;
    width: 225px;
  }

  .mailto:hover {
    width: 225px;
  }

  .number:hover {
    width: 225px;
  }

  .right {
    margin-right: 1.1em;
    text-align: left;
  }

  .left {
    margin-left: 1.1em;
    text-align: right;
  }

  .mailto:hover::before {
    content: "";
  }

  .number {
    font-size: 1em;
    width: 225px;
  }

  .number:hover::after {
    content: "";
    width: 270px;
  }

  .about, .projects, .contact {
    font-size: 1.3em;
  }

  .about:hover, .projects:hover, .contact:hover {
    font-size: 1.52em;
  }

  .active {
    font-size: 1.52em;
  }

  .my-story, .who-am-i {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .featured-title {
    margin-bottom: -.5em;
  }

  .about, .projects, .contact {
    font-size: 1em;
    border-bottom: 3px solid #2d3c49;
  }

  .about:hover, .contact:hover, .projects:hover, .active {
    text-decoration: underline;
    color: #2d3c49;
    background-color: #006e8e;
    transition: .5s;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .title {
    margin-bottom: 4.5em;
    font-size: 1em;
  }

  .name {
    font-size: 2.75em;
    margin-bottom: 0;
  }

  .social i {
    margin: .7em .2em 0 .2em;
  }

  .my-story, .who-am-i {
    width: 85%;
  }

  .my-story {
    padding: 2.4em 1em .25em 1em !important;
  }

  .who-am-i {
    margin: auto;
    font-size: 1.7em;
  }

  .projects {
    margin-left: 5.5em;
  }

  .about {
    margin: 1.1em 0em !important;;
  }

  .projects, .contact {
    margin-bottom: 0;
  }

  .contact {
    margin-right: 5em !important;;
  }

  .left {
    text-align: right;
    margin-right: 1.5em;
  }

  .right {
    text-align: left;
    margin-left: 1.5em;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
    .thumbnail-image, .work-description, .project-title {
      width: 80%;
    }

    .afc {
      font-size: .85em;
    }

    .work-description {
      font-size: 1em;
      margin-top: -4em;
    }

    .my-story, .who-am-i {
      width: 85%;
    }

    .mailto:hover::before {
      content: "";
    }

    .number:hover::after {
      content: "";
      width: 270px;
    }

    .mailto:hover {
      width: 270px;
    }

    .number:hover {
      width: 270px;
    }

}

@media (min-width: 390px) and (max-width: 575px) {
  .thumbnail-image, .work-description, .project-title {
    width: 80%;
  }

}

@media (max-width: 389px) {

  .thumbnail-image, .work-description, .project-title {
    width: 80%;
  }

}

@media (min-width: 1199px) {
  .me {
    width: 20%;
  }
}
