body {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/*Navbar*/
.navbar {
  height: 50px !important;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav li a{
  padding-top: 6px !important;
  padding-bottom: 0;
  height: 50px;
}

.navbar-toggler-icon {
  margin-top: -3px;
}

.navbar-nav .active {
  background: #813232;
}

.navbar,
.container-fluid {
  background-color: #b65959;
}

.navbar .navbar-brand {
  color: #fff0f0;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff0f0;
}
.navbar .navbar-text {
  color: #fff0f0;
}
.navbar .navbar-nav .nav-link {
  color: #fff0f0;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #fff0f0;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #fff0f0;
  background-color: #813232;
}
.navbar .navbar-toggle {
  border-color: #813232;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #813232;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #fff0f0;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #fff0f0;
}
.navbar .navbar-link {
  color: #fff0f0;
}
.navbar .navbar-link:hover {
  color: #fff0f0;
}

/*Custom*/
.main-color-bg {
  background-color: #b65959 !important;
  border: #fff0f0 !important;
  color: #fff;
}

.main-color-bg2 {
  background-color: #813232 !important;
  border: #fff0f0 !important;
  color: #fff;
}

#dot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  display: inline-block;
}

.live-visitors {
  font-size: .80em;
}

.edit-remove-btn {
  padding: .5em;
}

.edit-remove-btn a {
  text-decoration: none;
  color: inherit;
  padding: .75em;
}

/*Header*/
#header {
  background-color: #333;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-top: 15px;
}

#header .create {
  padding-top: 5px;
}

#header small {
  color: #888;
}

.breadcrumb {
  background-color: #ccc;
  color: #333;
}

.breadcrumb a {
  color: #333;
}

h2 {
  font-size: 1.2em;
}

#header small {
  font-size: .6em;
}

/*Progress bar*/
.progress-bar {
  background-color: #333;
  color: #fff;
}

/*Main*/
#website-overview .col-md-3 {
  margin: 15px 0;
}

#main {
  flex-grow: 1;

}

.login label {
  font-weight: 600;
  font-size: 1.2em;
}

.login a {
  color: inherit;
}

/*Table*/
.tablehead {
  background: #ccc !important;
  color: #333;
}

.scroll {
  overflow-x: scroll;
}

/*footer*/
#footer {
  text-align: center;
  background-color: #333;
  padding: 10px;
  margin-top: 3em;
}

#footer small {
  color: #fff;
}




@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff0f0;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fff0f0;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fff0f0;
    background-color: #813232;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff0f0;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fff0f0;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fff0f0;
    background-color: #813232;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff0f0;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fff0f0;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fff0f0;
    background-color: #813232;
  }

  #dashboard a {
    margin-right: -8px;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff0f0;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fff0f0;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fff0f0;
    background-color: #813232;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #fff0f0;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #fff0f0;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #fff0f0;
  background-color: #813232;
}
